@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.Row{
    display: flex;
}

.Tile{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    font-family: 'Bebas Neue', 'cursive';
    border: solid 1px black;
    background-color: hsl(0, 0%, 94%);
} 

.Tile.Animatied {
    z-index: 1;
}
.Tile.Animatied p{
    opacity: 0;
    transition: left 0.3s linear, top 0.3s linear, opacity 0.2s;
}

.Tile p{
    font-size: 40px;
    top: 0px;
    opacity:  1;
}
.Tile.Animatied.up p{
    top: -40px;
    left: 25px;
}

.Tile.Animatied.down p{
    top: 50px;
    left: 25px;
}

.Tile.Animatied.left p{
    top: 0px;
    left: -45px;
}

.Tile.Animatied.right p{
    top: 0px;
    left: 45px;
}